<a href="https://colab.research.google.com/github/pskhan/aoc2019/blob/master/dvi_a2_ps10_wb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1><center>Work Integrated Learning Programmes Division<br>
M.Tech (Data Science and Engineering)<br> Data Visualization And Interpretation (DSECL ZG555))<br>
Second Semester, 2021-22
</center></h1>

<h2><center>Assignment 2 â€“ PS10 [Weightage 13%]</center></h2>

<ol>
  <li>Do not change the name of the data file that is shared with the problem statement.</li>
  <li>If intermediate data files are created, retain in the present working directory and attach them during submission.</li>
  <li>Retain the data file in the same directory as that of this workbook.</li>
  <li>Retain the Visualizations that is produced in the file. Don't clear them away.</li>
   <li><div>All the visuals should adhere to the visualization principles learnt in the Course and must be presentation ready. Most effective visuals would fetch maximum credits</div></li>    
    <li><div>Submissions done via means other than CANVAS will strictly be NOT graded.</div></li>
</ol>

<h1>Objective</h1>
<h4>The objective is to analyze cricket teams and players performance accross the seasons to identify the outstanding performers.</h4>

Both input data files should be considered

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<h2>Group No: 222</h2>

<table>
  <tr>
    <th>Full Name</th>
    <th>BITS ID</th>
  </tr>
  <tr>
    <td>PRAVEEN S</td>
    <td>2021fc04765</td>
  </tr>
  <tr>
    <td>SHARMA SONAL ASHOK NEERJA</td>
    <td>2021fc04769</td>
  </tr>
  <tr>
    <td>ABHIJEET KUMAR</td>
    <td>2021fc04693</td>
  </tr>
</table>

#  Data Preparation : 1 Mark

Import the libraries needed

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import warnings
warnings.filterwarnings('ignore')

!pip install matplotlib --quiet

import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import scipy.stats as st
import statsmodels.formula.api as smf
import statsmodels.api as sm
from patsy.builtins import * 

%matplotlib inline 
from tabulate import tabulate

Load data and store in dataframe

In [4]:
%cd '/content/drive/MyDrive/Colab Notebooks/Semester_2/DVI_Assignment_2'
deliveries_df = pd.read_csv('dvi-a2-ps10-data1.csv')
matches_df = pd.read_csv('dvi-a2-ps10-data2.csv')

/content/drive/MyDrive/Colab Notebooks/Semester_2/DVI_Assignment_2

In [5]:
# Display First ten items from both the input files
print ("First 10 records of Dataset # 1 - Deliveries")
print(tabulate(deliveries_df.head(10), headers='keys', tablefmt='psql'))

print ("First 10 records of Dataset # 2 - Matches")
print(tabulate(matches_df.head(10), headers='keys', tablefmt='psql'))

First 10 records of Dataset # 1 - Deliveries
+----+------------+----------+---------------------+-----------------------------+--------+--------+-----------+---------------+-------------+-----------------+-------------+------------+---------------+---------------+----------------+----------------+--------------+--------------+--------------------+------------------+-----------+
|    |   match_id |   inning | batting_team        | bowling_team                |   over |   ball | batsman   | non_striker   | bowler      |   is_super_over |   wide_runs |   bye_runs |   legbye_runs |   noball_runs |   penalty_runs |   batsman_runs |   extra_runs |   total_runs |   player_dismissed |   dismissal_kind |   fielder |
|----+------------+----------+---------------------+-----------------------------+--------+--------+-----------+---------------+-------------+-----------------+-------------+------------+---------------+---------------+----------------+----------------+--------------+--------------+--------------------+------------------+-----------|
|  0 |          1 |        1 | Sunrisers Hyderabad | Royal Challengers Bangalore |      1 |      1 | DA Warner | S Dhawan      | TS Mills    |               0 |           0 |          0 |             0 |             0 |              0 |              0 |            0 |            0 |                nan |              nan |       nan |
|  1 |          1 |        1 | Sunrisers Hyderabad | Royal Challengers Bangalore |      1 |      2 | DA Warner | S Dhawan      | TS Mills    |               0 |           0 |          0 |             0 |             0 |              0 |              0 |            0 |            0 |                nan |              nan |       nan |
|  2 |          1 |        1 | Sunrisers Hyderabad | Royal Challengers Bangalore |      1 |      3 | DA Warner | S Dhawan      | TS Mills    |               0 |           0 |          0 |             0 |             0 |              0 |              4 |            0 |            4 |                nan |              nan |       nan |
|  3 |          1 |        1 | Sunrisers Hyderabad | Royal Challengers Bangalore |      1 |      4 | DA Warner | S Dhawan      | TS Mills    |               0 |           0 |          0 |             0 |             0 |              0 |              0 |            0 |            0 |                nan |              nan |       nan |
|  4 |          1 |        1 | Sunrisers Hyderabad | Royal Challengers Bangalore |      1 |      5 | DA Warner | S Dhawan      | TS Mills    |               0 |           2 |          0 |             0 |             0 |              0 |              0 |            2 |            2 |                nan |              nan |       nan |
|  5 |          1 |        1 | Sunrisers Hyderabad | Royal Challengers Bangalore |      1 |      6 | S Dhawan  | DA Warner     | TS Mills    |               0 |           0 |          0 |             0 |             0 |              0 |              0 |            0 |            0 |                nan |              nan |       nan |
|  6 |          1 |        1 | Sunrisers Hyderabad | Royal Challengers Bangalore |      1 |      7 | S Dhawan  | DA Warner     | TS Mills    |               0 |           0 |          0 |             1 |             0 |              0 |              0 |            1 |            1 |                nan |              nan |       nan |
|  7 |          1 |        1 | Sunrisers Hyderabad | Royal Challengers Bangalore |      2 |      1 | S Dhawan  | DA Warner     | A Choudhary |               0 |           0 |          0 |             0 |             0 |              0 |              1 |            0 |            1 |                nan |              nan |       nan |
|  8 |          1 |        1 | Sunrisers Hyderabad | Royal Challengers Bangalore |      2 |      2 | DA Warner | S Dhawan      | A Choudhary |               0 |           0 |          0 |             0 |             0 |              0 |              4 |            0 |            4 |                nan |              nan |       nan |
|  9 |          1 |        1 | Sunrisers Hyderabad | Royal Challengers Bangalore |      2 |      3 | DA Warner | S Dhawan      | A Choudhary |               0 |           0 |          0 |             0 |             1 |              0 |              0 |            1 |            1 |                nan |              nan |       nan |
+----+------------+----------+---------------------+-----------------------------+--------+--------+-----------+---------------+-------------+-----------------+-------------+------------+---------------+---------------+----------------+----------------+--------------+--------------+--------------------+------------------+-----------+
First 10 records of Dataset # 2 - Matches
+----+------+----------+-----------+------------+-----------------------------+-----------------------------+-----------------------------+-----------------+----------+--------------+-----------------------------+---------------+------------------+-------------------+-------------------------------------------+----------------+---------------+-----------+
|    |   id |   season | city      | date       | team1                       | team2                       | toss_winner                 | toss_decision   | result   |   dl_applied | winner                      |   win_by_runs |   win_by_wickets | player_of_match   | venue                                     | umpire1        | umpire2       |   umpire3 |
|----+------+----------+-----------+------------+-----------------------------+-----------------------------+-----------------------------+-----------------+----------+--------------+-----------------------------+---------------+------------------+-------------------+-------------------------------------------+----------------+---------------+-----------|
|  0 |    1 |     2017 | Hyderabad | 2017-04-05 | Sunrisers Hyderabad         | Royal Challengers Bangalore | Royal Challengers Bangalore | field           | normal   |            0 | Sunrisers Hyderabad         |            35 |                0 | Yuvraj Singh      | Rajiv Gandhi International Stadium, Uppal | AY Dandekar    | NJ Llong      |       nan |
|  1 |    2 |     2017 | Pune      | 2017-04-06 | Mumbai Indians              | Rising Pune Supergiant      | Rising Pune Supergiant      | field           | normal   |            0 | Rising Pune Supergiant      |             0 |                7 | SPD Smith         | Maharashtra Cricket Association Stadium   | A Nand Kishore | S Ravi        |       nan |
|  2 |    3 |     2017 | Rajkot    | 2017-04-07 | Gujarat Lions               | Kolkata Knight Riders       | Kolkata Knight Riders       | field           | normal   |            0 | Kolkata Knight Riders       |             0 |               10 | CA Lynn           | Saurashtra Cricket Association Stadium    | Nitin Menon    | CK Nandan     |       nan |
|  3 |    4 |     2017 | Indore    | 2017-04-08 | Rising Pune Supergiant      | Kings XI Punjab             | Kings XI Punjab             | field           | normal   |            0 | Kings XI Punjab             |             0 |                6 | GJ Maxwell        | Holkar Cricket Stadium                    | AK Chaudhary   | C Shamshuddin |       nan |
|  4 |    5 |     2017 | Bangalore | 2017-04-08 | Royal Challengers Bangalore | Delhi Daredevils            | Royal Challengers Bangalore | bat             | normal   |            0 | Royal Challengers Bangalore |            15 |                0 | KM Jadhav         | M Chinnaswamy Stadium                     | nan            | nan           |       nan |
|  5 |    6 |     2017 | Hyderabad | 2017-04-09 | Gujarat Lions               | Sunrisers Hyderabad         | Sunrisers Hyderabad         | field           | normal   |            0 | Sunrisers Hyderabad         |             0 |                9 | Rashid Khan       | Rajiv Gandhi International Stadium, Uppal | A Deshmukh     | NJ Llong      |       nan |
|  6 |    7 |     2017 | Mumbai    | 2017-04-09 | Kolkata Knight Riders       | Mumbai Indians              | Mumbai Indians              | field           | normal   |            0 | Mumbai Indians              |             0 |                4 | N Rana            | Wankhede Stadium                          | Nitin Menon    | CK Nandan     |       nan |
|  7 |    8 |     2017 | Indore    | 2017-04-10 | Royal Challengers Bangalore | Kings XI Punjab             | Royal Challengers Bangalore | bat             | normal   |            0 | Kings XI Punjab             |             0 |                8 | AR Patel          | Holkar Cricket Stadium                    | AK Chaudhary   | C Shamshuddin |       nan |
|  8 |    9 |     2017 | Pune      | 2017-04-11 | Delhi Daredevils            | Rising Pune Supergiant      | Rising Pune Supergiant      | field           | normal   |            0 | Delhi Daredevils            |            97 |                0 | SV Samson         | Maharashtra Cricket Association Stadium   | AY Dandekar    | S Ravi        |       nan |
|  9 |   10 |     2017 | Mumbai    | 2017-04-12 | Sunrisers Hyderabad         | Mumbai Indians              | Mumbai Indians              | field           | normal   |            0 | Mumbai Indians              |             0 |                4 | JJ Bumrah         | Wankhede Stadium                          | Nitin Menon    | CK Nandan     |       nan |
+----+------+----------+-----------+------------+-----------------------------+-----------------------------+-----------------------------+-----------------+----------+--------------+-----------------------------+---------------+------------------+-------------------+-------------------------------------------+----------------+---------------+-----------+

In [8]:
# Check for NULL values and Replace Nan with 0 (For both files)

print (deliveries_df[deliveries_df.isnull().any(axis=1)].shape[0] , "rows out of " ,deliveries_df.shape[0] , "rows in dataset # 1 contain NULL Values")
print (matches_df[deliveries_df.isnull().any(axis=1)].shape[0] , "rows out of " ,matches_df.shape[0] , "rows in dataset # 2 contain NULL Values")


print ("Filling the Nan with 0")
deliveries_df = deliveries_df.fillna(0)
matches_df = matches_df.fillna(0)

print ("After filling the Nan with 0")
print (deliveries_df[deliveries_df.isnull().any(axis=1)].shape[0] , "rows out of " ,deliveries_df.shape[0] , "rows in dataset # 1 - deliveries contain NULL Values")
print (matches_df[matches_df.isnull().any(axis=1)].shape[0] , "rows out of " ,matches_df.shape[0] , "rows in dataset # 2 - matches contain NULL Values")

145091 rows out of  150460 rows in dataset # 1 contain NULL Values
615 rows out of  636 rows in dataset # 2 contain NULL Values
Filling the Nan with 0
After filling the Nan with 0
0 rows out of  150460 rows in dataset # 1 - deliveries contain NULL Values
0 rows out of  636 rows in dataset # 2 - matches contain NULL Values

In [9]:
#Display an overview - The participating teams and the unique venues used for matches, and the number of matches played

In [21]:
print("Total Matches Played: ", matches_df.shape[0])

print("\n\nVenues for cricket matches are:")
#print('\n'.join(map(str, sorted(matches_df.city.unique()))))
print(matches_df.city.unique())


print("\n\n All teams that participated in all IPL conducted till 2020:")
print('\n'.join(map(str, sorted(matches_df.team1.unique()))))

Total Matches Played:  636


Venues for cricket matches are:
['Hyderabad' 'Pune' 'Rajkot' 'Indore' 'Bangalore' 'Mumbai' 'Kolkata'
 'Delhi' 'Chandigarh' 'Kanpur' 'Jaipur' 'Chennai' 'Cape Town'
 'Port Elizabeth' 'Durban' 'Centurion' 'East London' 'Johannesburg'
 'Kimberley' 'Bloemfontein' 'Ahmedabad' 'Cuttack' 'Nagpur' 'Dharamsala'
 'Kochi' 'Visakhapatnam' 'Raipur' 'Ranchi' 'Abu Dhabi' 'Sharjah' 0]


 All teams that participated in all IPL conducted till 2020:
Chennai Super Kings
Deccan Chargers
Delhi Daredevils
Gujarat Lions
Kings XI Punjab
Kochi Tuskers Kerala
Kolkata Knight Riders
Mumbai Indians
Pune Warriors
Rajasthan Royals
Rising Pune Supergiant
Rising Pune Supergiants
Royal Challengers Bangalore
Sunrisers Hyderabad

In [18]:
from pprint import pprint

type(matches_df.team1.unique())

Chennai Super Kings
Deccan Chargers
Delhi Daredevils
Gujarat Lions
Kings XI Punjab
Kochi Tuskers Kerala
Kolkata Knight Riders
Mumbai Indians
Pune Warriors
Rajasthan Royals
Rising Pune Supergiant
Rising Pune Supergiants
Royal Challengers Bangalore
Sunrisers Hyderabad

# Visualisation Questions - 2 X 5 = 10 Marks

### Question 1
<h4>Identify the top 10 batsmen of all time by considering how does these players score runs.  <br><br>
    Write the python code in the below cell to create appropriate visual to perform the above task.
    <h4>Answer in markdown cells below the visual <br><br>
        1.Summarise your findings from the visual.<br>
            2.The reason for selecting the chart type you did <br>
                3.Mention the pre-attentive attributes used.(atleast 2)<br>
                    4.Mention the gestalt principles used.(atleast 2)<br>

In [22]:
players = deliveries_df.batsman.unique()

# Creating a dataframe of batsman
class Batsman():
    batsman_df = pd.DataFrame(columns=['player_name','total_runs','outs','balls_played','average_runs','strike_rate'])
    def __init__(self,players,deliveries_df):
        self.players = players
        self.df = deliveries_df.copy()
        
    def create_df(self):
        for player in self.players:
            run = int(self.df[self.df["batsman"] == player].batsman_runs.sum())
            balls = int((self.df["batsman"] == player).sum())
            #print(balls)
            out = int((self.df["player_dismissed"] == player).sum())
            try:
                avg_run = run/out # average runs = Total runs divided by total outs
            except:
                avg_run = 0
            try:
                strk_rate = (run * 100)/balls # strike rate = run scored per 100 balls
            except:
                strk_rate = 0
            df2 = {'player_name':player,'total_runs': int(run),'outs':int(out),'balls_played': int(balls),'average_runs':avg_run,'strike_rate': strk_rate}
            self.batsman_df = self.batsman_df.append(df2,ignore_index =True)
        return self.batsman_df

 
batsman_df = Batsman(players,deliveries_df).create_df()

In [23]:
batsman_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 461 entries, 0 to 460
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   player_name   461 non-null    object
 1   total_runs    461 non-null    object
 2   outs          461 non-null    object
 3   balls_played  461 non-null    object
 4   average_runs  461 non-null    float64
 5   strike_rate   461 non-null    float64
dtypes: float64(2), object(4)
memory usage: 21.7+ KB

In [26]:
# Converting the total_runs,outs,balls_played to integer for any future calculations
batsman_df = batsman_df.astype({'total_runs':int,'outs':int,"balls_played":int})

In [25]:
batsman_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 461 entries, 0 to 460
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   player_name   461 non-null    object
 1   total_runs    461 non-null    int64
 2   outs          461 non-null    int64
 3   balls_played  461 non-null    int64
 4   average_runs  461 non-null    float64
 5   strike_rate   461 non-null    float64
dtypes: float64(2), int64(3), object(1)
memory usage: 21.7+ KB

In [ ]:
# Saving the dataframe into a .csv file for future reference
batsman_df.to_csv("batting.csv")

### Question 2
<h4>The general notion in cricket is, Win the toss to win the match . To verify the general notion, perform a match winning analysis based on the toss winners.<br>
    
Write the python code in the below cell to create the appropriate visual to perform the above task .
<h4>Answer in markdown cells below the visual <br><br>
    1.Summarise your findings from the visual.<br>
    2.The reason for selecting the chart type you did <br>
    3.Mention the pre-attentive attributes used.(atleast 2)<br>
    4.Mention the gestalt principles used.(atleast 2)<br>

### Question 3
<h4>Are T20 formats batsmen friendly? To identify this, Do an analysis to find out the average runs scored per match across the seasons. <br>

Write the python code in the below cell to create the appropriate visual to perform the above task .
<h4>Answer in markdown cells below the visual <br><br>
    1.Summarise your findings from the visual.<br>
    2.The reason for selecting the chart type you did <br>
    3.Mention the pre-attentive attributes used.(atleast 2)<br>
    4.Mention the gestalt principles used.(atleast 2)<br>

### Question 4
<h4>Create an interactive visual to identify the most player-of-the-matches award. <br>

Write the python code in the below cell to create the appropriate visual to perform the above task .

Answer in markdown cells below the visual

1.Summarise your findings from the visual.
2.The reason for selecting the chart type you did
3.Mention the pre-attentive attributes used.(atleast 2)
4.Mention the gestalt principles used.(atleast 2

### Question 5
<h4>Prepare a tabular visual to identify teams scoring more than 225 runs.<br>

Write the python code in the below cell to create the appropriate visual to perform the above task .
<h4>Answer in markdown cells below the visual <br><br>
    1.Summarise your findings from the visual.<br>
    2.The reason for selecting the chart type you did <br>
    3.Mention the pre-attentive attributes used.(atleast 2)<br>
    4.Mention the gestalt principles used.(atleast 2)<br>

# Group's choice-2 Marks
 
#### Frame 1 (more) question which will help in the EDA(Exploratory Data Analysis) of the given data set and answer the same using the best visual.
 
 1. Write the question in a markdown cell
 2. Below the question,in a coding cell,write the python code to create the visual to answer the question  

<h4> Answer in markdown cells below the visual <br><br>
   1.Summarise your findings from the visual.<br>
   2.The reason for selecting the chart type you did <br>
   3.Mention the pre-attentive attributes used.(atleast 2)<br>
   4.Mention the gestalt principles used.(atleast 2)<br>

<h1><center> ************ END OF ASSIGNMENT ****************</center></h1>